html,body{
    height: 100%;
    /* background-color: rgb(1, 157, 214); */
    background-color: rgb(241, 240, 203);
    /* background-color: rgb(255, 255, 255); */
    margin: 0;
    /* background-color: rgb(208, 20, 117); */
}

.marcador {
      background-color: rgba(188, 248, 212, 0.396);
      position: absolute;
      width: 100%;
      height: 20px;
      top: 0;
      left: 0;
}

.bg-azul{
    background-color: rgb(1, 157, 214);  
}

.bg-rosa{
    background-color: rgb(208, 20, 117); 
}

canvas {
    /* direction: ltr; */
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    /* border: 1px solid black; */
  }

.h-3{
    height: 3%;
}

.h-5{
    height: 5%;
}

.h-10{
    height: 10%;
}

.h-30{
    height: 30%;
}

.h-80{
    height: 80%;
}

.h-87{
    height: 87%;
}

.h-90{
    height: 90%;
}

.bg-tp-50{
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-transp{
    background-color: rgba(255, 255, 255, 0);
}

.bg-ff-transp{
    background-color: rgba(255, 255, 255, 0.467);
}


.text-capa {
    font-size: 5rem;
    color: #ffffff;
    text-shadow: -2px 2px 4px rgba(81, 81, 81, 0.5),
        2px -2px 0 rgba(0, 0, 0, 0.9);
}

.text-capa-size {
    font-size: 3rem;
    line-height: 4.5rem;
    margin: 0;
}

.text-relevo {
    color: #000000;
    text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5),
        2px -2px 0 rgba(255, 255, 255, 0.9);
}

.foto-fundo{
    background-image: url('https://ricardogithubb.github.io/biblia/capa.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ln-1{
    line-height: 0.5rem;
}

.rodape-capa {
    position: fixed;
    width: 100%;
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: bottom 0.1s ease-in-out;
}


.div-menu {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(241, 240, 203);
    color: black;
    text-align: center;
    transition: right 0.1s ease-in-out;
}

.ativo{
    bottom: 0;
}

.inativo{
    bottom: -100px;
}

.menu-invisivel{visibility: hidden;
    opacity: 0;
    display: none;

    z-index: -1000;
    /* visibility: hidden; */
}
.menu-visivel{
    opacity: 1;
    z-index: 1000;
    /* visibility: visible; */
}

.menu {
    width: 20%;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.414);
    padding: 20px;
    z-index: 1000;
    transition: opacity 2s ease-in-out;
}